/*============================================================== 
 For Laptop & above all (1650px) 
 ============================================================== */
 @media (min-width: 1650px) {
  .main-container {
    max-width: 1920px;
    margin: 0 auto;
  }
}
/*============================================================== 
 For Laptop & above all (1370px) 
 ============================================================== */

@media (max-width: 1600px) {
  .main-container {
    max-width: 1300px;
    margin: 0 auto;
  }
}

.sidenav-container {
  flex: 1 0 auto;
  height: calc(100vh - 64px);
  
  @media (max-width: 600px) {
    height: calc(100vh - 56px);
  }
}

.sidebar {
  width: 30%;
  
  @media (max-width: 600px) {
    width: 300px;
  }
  
  @media (min-width: 1000px) {
    width: 300px;
  }
}

mat-sidenav-content {
  padding: 30px;
  height: calc(100% - 60px);
  background-color: #f2f2f2;
}

.mat-sidenav-content-inside {
  background-color: white;
  width: 100%;
  height: 100%;
}
