<div class="main-container">
  <mat-toolbar color="primary">
    <a mat-icon-button (click)="sidebar.toggle()">
      <mat-icon>menu</mat-icon>
    </a>
    <span>Angular/TS project with Best Practices</span>
    <span fxFlex></span>
    <app-header />
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav class="sidebar" #sidebar [opened]="true" [mode]="mobileQuery.matches ? 'side' : 'over'" [opened]="mobileQuery.matches">
      <app-sidebar />
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="mat-sidenav-content-inside">
        <router-outlet />
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
